/**
 * Social Share
 * --------------------------------------------------
 */

.share-container {
    background-color: rgba(0, 0, 0, 0.7);
    position:absolute;
    height:210px;
    width:100%;
    z-index:10;
    text-align:center;
    padding:60px 0 0;
    color:#fff;
    h2 {
        color:#fff;
        font-size:16px;
        margin-bottom:20px;
    }
    a {
        display:inline-block;
        width:50px;
        height:50px;
        border-radius:100px;
        margin:0 5px;
        &.email {
            background:#f06a97;
            i:before {
                font-size:36px;
                color:#fff;
                position:relative;
                top:1px;
                line-height:50px;
            }
        }
        &.share {
            background:#b3cb25;
            i:before {
                font-size:28px;
                color:#fff;
                position:relative;
                top:-3px;
                line-height:55px;
            }
        }
        &.facebook {
            background:#295a9c;
            i:before {
                font-size:28px;
                color:#fff;
                position:relative;
                top:-3px;
                line-height:55px;
            }
        }
        &.twitter {
            background:#00befc;
            i:before {
                font-size:28px;
                color:#fff;
                position:relative;
                top:-3px;
                line-height:55px;
            }
        }
    }
    
   
}