/**
 * Store Locator
 * --------------------------------------------------
 */

 .storeLocator-wrapper {
    margin-top:44px;
}

 .storeLocator-wrapper .image-container {
     line-height:0;
     img {
         width:100%;
     }
 }

 .storeLocator-wrapper .item {
     h2 {
         color:#000000;
     }
     p {
         color:#999;
         font-size:13px;
     }
 }

.storeLocator-wrapper .item-options .button {
    padding:0 10px !important;
}

.storeLocator-wrapper .item-options .button.dark {
    background-color:#00aef9 !important;
}
.storeLocator-wrapper .item-options .button.light {
    background-color:#77cdf9 !important;
}

 .storeLocator-wrapper a {
     color:#00aef9 !important;
 }






